.tracks-box {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.album-info-box{
    display: flex;
    justify-content: space-evenly;
}

.names{
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    width: 30%;
}