.main-header {
    background: none;
    padding: 20px;
    border: 1px solid white;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-box {
    display: flex;
    align-items: center;
    width: 100%;
}

.main-header a {
    text-decoration: none;
    color: white;
}

#logo {
    border-radius: 50%;
    display: inline-block;
}

.logo-title {
    display: inline-block;
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

.users-menu{
    display: block;
}

.users-menu a{
    margin: 0;
    margin-left: 10px;
}

.fa-user{
    margin-right: 10px;
}

.mini-info-profile-box{
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: flex-end;
}

.mini-info-profile-box h4{
    text-align: end;
    margin: 0;
}

.avatar-image{
    width: 50px;
    margin: 0;
    margin-right: 10px;
    border-radius: 50%;
}
